{# File Version 1.1 [24.09.2019] #}

{% extends 'app.twig' %}

{% block content %}
    {% if error == '404' %}
        <p class="text-center"><b>Ooooups! Looks like you got lost.</b></p>
    {% elseif error == '405' %}
        <h5 class="text-center">The method specified in the Request-Line is not allowed for the specified resource.</h5>
    {% elseif error == '500' %}
        <h5 class="text-center">The request was unsuccessful due to an unexpected condition encountered by the server.</h5>
    {% endif %}
{% endblock %}