{# File Version 1.1 [28.09.2019] #}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="copyright text-muted">
                    <a class="text-muted" style="text-decoration: none" href='{{ path_for('legal.imprint') }}' target='_blank'>
                        Impressum
                    </a>
                    &nbsp;
                    <a class="text-muted" style="text-decoration: none" href='{{ path_for('legal.privacy') }}' target='_blank'>
                        Datenschutz
                    </a>
                    <br>
                    Copyright &copy; {{ 'now'|date('Y') }} {{ footer_company }} und/oder mit ihr verbundene Unternehmen.
                </p>
            </div>
        </div>
    </div>
</footer>